<div class="screen-container">
<div id="menuLateralDireito" style="display: none;">
    <div class="barraDeStatus"></div>
    <div class="chat">
        <div class="chat-container">
            <div class="user-bar">
                <div class="back voltarChat"><i class="fa fa-chevron-left"></i></div>
                    <div class="search">
                        <input type="text" placeholder="search" />
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <div id="salas"></div>
            </div>
        </div>
    </div>
</div>
</div>