<div class="screen-container">
<div id="menuLateralEsquerdo" style="display: none;">
    <div class="barraDeStatus"></div>
    <div class="chat">
        <div class="chat-container">
            <div class="user-bar">
                <div class="back voltarChat"><i class="fa fa-chevron-left"></i></div>
                <div class="search">
                    <input type="text" placeholder="search" />
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="user-bar">
                <div class="avatar">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
                </div>
                <div class="name">Davi Rocha</div>
                <div class="actions"><i class="fa fa-circle online"></i></div>
            </div>
            <div class="user-bar">
                <div class="avatar">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />
                </div>
                <div class="name">Alberius Tiberius</div>
                <div class="actions"><i class="fa fa-circle offline"></i></div>
            </div>
            <div class="user-bar">
                <div class="avatar">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" alt="avatar" />
                </div>
                <div class="name">Eli Ostelio Jamal</div>
                <div class="actions"><i class="fa fa-circle offline"></i></div>
            </div>
            <div class="user-bar">
                <div class="avatar">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_04.jpg" alt="avatar" />
                </div>
                <div class="name">Dori</div>
                <div class="actions"><i class="fa fa-circle online"></i></div>
            </div>
        </div>
    </div>
</div>
</div>