<html>
    <head>
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/css.css">
    </head>
<body>
    <div class="page">
        <div class="marvel-device">
            <div class="top-bar"></div>
            <div class="sleep"></div>
            <div class="volume"></div>
            <div class="camera">
                <input type="file" id="input-files">
                <button id="send-file">Enviar</button>
            </div>
            <div class="screen">
                <% include chat/areaChat.ejs %>
                <% include chat/menuLateralEsquerdo.ejs %>
                <% include chat/menuLateralDireito.ejs %>
            </div>
        </div>
    </div>
</div>
</body>
<!-- terceiros -->
<script src="jQuery/dist/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- proprietario -->
<script type="text/javascript" src="js/publishSubscribe.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/socketIoIndex.js"></script>
<script type="text/javascript" src="js/enviarArquivo.js"></script>
</html>
